/* Enter your custom styles here */
.sapUshellShellHeader{
    background-color: black;
}

  .layout{
    margin-top: -7%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgb(238, 234, 234);
    margin-left: 10px;
    
  }
  /* for border*/
  #application-nauticalfe-display-component---View2--mainSplitter-content-1{
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    height: 400px;
}
#application-nauticalfe-display-component---View2--mainSplitter-content-2{
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    height: 400px;
}
#application-nauticalfe-display-component---View2--mainSplitter-content-0{
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    height: 400px;
}
.sapUiLoSplitterH.sapUiLoSplitter {
    margin: 10px;
}
.tableLayout{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px !important;
}
.speedmeasuretxt{
    padding: 7px !important;
}
.tablebtn{
    margin-right: 10px !important;
}
/*for refresh button color*/
.sapMBtnInner.sapMBtnText {
    color: red;
    border: 1px solid red;
     
}
/*for help button color*/
#application-nauticalfe-display-component---View2--_IDGenButton4-img{
    color: red; /*for refresh button*/
}

/*for value help button*/
#application-nauticalfe-display-component---View2--_IDGenInput2-vhi{
    color: rgb(245, 131, 131);
}
#application-nauticalfe-display-component---View2--_IDGenInput3-vhi{
    color: rgb(245, 131, 131);
}
#application-nauticalfe-display-component---View2--_IDGenInput4-vhi{
    color: rgb(245, 131, 131);
}
#application-nauticalfe-display-component---View2--_IDGenInput5-vhi{
    color: rgb(245, 131, 131);
}
.sapUiSizeCompact .sapMBtnInner{
    border: 1px solid red;
}
/* Calculate Btn */
#application-nauticalfe-display-component---View2--_IDGenButton4-inner{
    color: red;
}
#application-nauticalfe-display-component---View2--_IDGenButton3-inner{
    background-color: red;
}

#application-nauticalfe-display-component---View2--_IDGenButton3-BDI-content{
    background-color: red;
    color: white;
}

/*for button hover*/
.sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive) >
 .sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnDefault, .sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive) >
 .sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnBack, .sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive) >
 .sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnGhost {
    color: red;
    background-color: rgba(234, 144, 130, 0.299);
}

.sapMText {
    font-size: 12px;
}
/*---------------------------------------------------------------------------------------------------------*/

/*For view 3 headers*/

#application-nauticalfe-display-component---View3--header2{
    background-color:white
}
#application-nauticalfe-display-component---View3--header3{
    background-color:rgb(25, 134, 134);
    height: 40px;
}
#application-nauticalfe-display-component---View3--header4{
    background-color:rgb(25, 134, 134);
    height: 40px;
}
#application-nauticalfe-display-component---View3--header5{
    background-color:rgb(25, 134, 134);
    height: 45px;
}

#application-nauticalfe-display-component---View3--link2{
    color:black;
    margin-left: 45%;
}

.freighttxt{
    color: white !important;
}
.freightback{
    background-color: rgb(41, 178, 178) !important;
    height: 40px !important;
}
.heading1{
    color:black !important;
    margin-left: 45% !important; 
}

/* bidding controller page*/

.biddingTileflex{
    justify-content: space-around;
    justify-content: center;
}

/* bid page icon */
#application-nauticalfe-display-component---BidCont--openTileNumericId-value-inner{
    color: orange;
    
}
#application-nauticalfe-display-component---BidCont--closeTileNumericId-value-inner{
    color: green;
}
#application-nauticalfe-display-component---BidCont--ongoingTileNumericId-value-inner{
    color: orange;
}

/* for table border  */
/* .sapMListTblSelCol, .sapMListTblCell, .sapMListTblNavCol {
    border: none;
} */
.ongoingPanelPanel{
    padding: 30px;
    border:1px solid black;
    background-color: white;
    padding: 30px;
    margin: 1%;
    border-radius: 0%;
    margin-right: 5%;
}
#application-nauticalfe-display-component---BidCont--PanelId-header{
    border-bottom: none;
}

.sapMColumnHeader {
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(187, 186, 186);
   
}
#application-nauticalfe-display-component---BidCont--table-tblHeadNav{
    background-color: rgb(240, 235, 235);
    border-top: 1px solid rgb(187, 186, 186);

}

#application-nauticalfe-display-component---BiddingController--header2{
    border-bottom: 1px solid rgb(187, 186, 186);
}
.Tile{
    border-radius: 0%;
}
/* for bid obj page*/
.bpanel1{
    width: 20rem ;
    
}

.vPanel{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
    /* margin-top: -2%; */
}

.text1{
    display: block;
}
.botxt2{
    margin-top: 15%;
}
.botxt3{
    margin-top: 5%!important;
    
}
.botxt1{
   margin-top: 3%;
   font-size: 22px;
}
.botxt7{
    font-size:15px;
}
.vendorListHeading{
    justify-content: space-around;
    padding-top: 5rem;
}
.vTHeading{
    font-size: 20px;
}
.cql1{
    padding-top:8px;
}
#application-nauticalfe-display-component---BidObj--table-tblHeadNav{
    background-color: rgb(240, 235, 235);
    border-top: 1px solid rgb(187, 186, 186);

}
#application-nauticalfe-display-component---BidObj--boTxt6{
    color: green;
    margin-top: 15%;
    font-size: 24px;
}
/*dashboard*/
.vPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5 rem;
}
.panel{
    padding: 40px;
}

.mastrimg{
    margin-top: 7%;
    position: fixed;
}
.Trans{
     margin: 10% 15%;
}
.Mastr{
    margin: 10% 15%;
}

/* .nauticalImg{
    max-width: 280px !important;
    height: 270px !important;
    margin-top: 10%;
} */

.dashPanel2{
    padding: 1rem;  
}
.sapUiSizeCompact .sapMBtnInner {
    border-radius: 4px;
}
/* .mastrimg{
    margin-top: 10% !important;
} */

/*transaction data css*/
.voy,.right,.FS {
    margin: 5%;
}
/*master data css*/
.one,.two,.three,.four,.five{
    margin: 2%; margin-top: 5%;
    
}
/*for nautical image*/
/* .sapMFlexItemAlignAuto {
    align-self: center;
} */


/* for voyage option page */

.buttonSpacing{
    margin-bottom: 2%;
    height: 5px;
    margin-left: 25px;
}
.buttonhead{
    margin-top: 8%;
}






/*for Createvoyage plan */

.animation{
    display: none;
}

.sapUiSizeCompact .sapMBtnContent {
    line-height: 1.500rem;
    color: rgb(194, 65, 65);
}
#application-nauticalfe-display-component---TrCreateVoyagePlan--Select1-labelText{
    line-height: 1.500rem;
    color: rgb(172, 52, 52);  
}
.vdetailsHeading{
    margin-left: 17%;
    margin-top: -60px;
}
/* .headersec{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
} */

.vgheading{
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid rgb(180, 179, 179);
    width: 100%;
}
.vdHeadingLayout{
    justify-content: space-between;
    margin-left: 3.5rem;
}
.sapMLabel {
    padding: 5px;
}
.planInfoHeading{
    border-bottom: 1px solid rgb(202, 199, 199);
    width: 100%;
}



/* for createvoyageplan page */
.vhead{
    margin-top: 5%;
}
.Hhead{
    margin-top: 3%;
}



/* for Createvoyageplan  vessel plan table  */



 
heading{
    margin-top: 80px;
    margin-left: 20px;
    font-size: 15px;
    
}


/* bid detail section */
.sapMListHdrText {
background-color: #f5f6f7;
font-size: small;
}
.sapUiSizeCompact .sapMListTblSelCol, .sapUiSizeCompact .sapMListTblSelCol>.sapMLIBSelectM, .sapUiSizeCompact .sapMListTblSelCol>.sapMLIBSelectS, .sapUiSizeCompact .sapMListTblHasNav .sapMListTblNavCol {
    width: 2rem;
    background: rgb(240, 235, 235); ;
}


.second_table{
    margin-left: 25% !important;
}

/* FOR LONG TEXT */

.sapMInputBase.sapMTextArea .sapMTextAreaInner {
    line-height: 10;
    background-color: white;
}

/* Footer part of create voyage plan page */
.footerpagebuttons{
    margin-bottom: 2%;
    height: 5px;
    margin-left: 20px;
}
.footercostplanbutton{
    margin-left: 30px;
    margin-top: 10px;
}

.footeractualplanbutton{
    margin-left: 20px;
    margin-top: 10px;
}

.costplantables{
    margin-left: 20px;
    margin-top: 20px;
}

.footerheading{
    margin-top: 60px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}




/* voyage change screen */

.vdHeaderLayout{
    margin-left: 5rem;
    margin-bottom: 3rem;
    justify-content: space-between;
}
/* .navContainer2{
    margin-left: 3rem;
    width: 100%;
} */
.navigationPanel{
    margin-left: 3rem;
}
.vdheading{
    border-bottom: 1px solid rgb(204, 201, 201);
    width: 100%;
    padding: 0.5rem;
}
.vdsection{
   margin-left: 8rem;
}
.vdsection2{
    margin-left: 7.4rem;
}
.rdheading{
    margin-top: 2rem;
}
.vesselRefDetails{
    border: 1px solid grey;
}
/* vessel Plan section  */

/* .vsplandetails{
    margin-left: 6rem;
} */
/* .infoinputs{
    margin: 0 20px;
} */
/* .referenceTable{
    border: 1px solid rgb(205, 201, 201);
} */
.vsplandetails{
    margin-left: 3rem;
    /* width: 150% !important; */
}
.infoinputs{
    margin-left: 2rem;
}
Table{
    border: 1px solid grey !important;
}
 .sapMLIBShowSeparator>td{
    border: 1px solid rgb(214, 211, 211);
 }



/* Business Partner Details Page */

.EnterDetailsHeader{
    margin: 2%;
    font-size: 18px;
    border-bottom: 1px solid rgb(185, 182, 182);
    width: 80%;
}
.BPdetailsContent{
    margin-left: 35%;
}
.executeBtn{
    margin-left: 70rem;
    margin-top: 22rem;
}
/* config release strategy */

.configHeading{
    margin-top: 2%;
    font-size: 20px;
    margin-left: 1%;
    border-bottom: 1px solid rgb(183, 180, 180);
    width: 40%;
}
.mgbtn{
    margin-top: 1%;
}
/* save as variant tab */

.sapMCb .sapMLabel {
    margin-top: -1.5%;
}
.LabelInput1{
    margin-top: 2%;
    margin-left: 5%;
}
.LabelInput2{
    margin-left: 5%;
}
#application-nauticalfe-display-component---MastSaveAsVariant--_IDGenColumn3-ah {
    height: 16px;
}
.btnIcon{
    margin: 5px;
}
.tableHeading{
    font-size: 16px;
    margin-top: 1%;
}
.txtInfoBox{
    margin: 4%;
}
.boldText{
    font-weight: bold;
    font-size: 14px;
}









/* 
/* Master data pages css by anurag */

.customHeader{
    background-color: black;
}
.textBid{
    color: white;
}
/* .exeBtn{
    margin-top: 35%;
} */
.masterFileUpload{
    margin-left: 250px;
    margin-top: 70px;
}

.masterheadings{
    margin-left: 40px;
    margin-top:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.mastertables{
    margin-top: 5px ;
}

/* .masteroptionsfooter{
    margin-top: 400px;
    margin-left: 1150px;
} */

/* .masterbuttonsalign{
    padding: 10px 15px;
    margin-right: 10px;
} */

/* file upload dialog box css */
.MastDialogButtonAlign{
    margin-top: 40px;
    margin-left: 270px;
}
.header{
    background-color: black;
    color: white; 
}
.customHeaderButton{
    background-color: black;
    color: white;
}

/* for all icon */
.sapMBtnIcon {
    color: rgb(194, 65, 65);
}



 
